@page "/"

<FluentGrid Spacing="3">
    <FluentGridItem sm="12" lg="12">
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom">
            <FluentButton Appearance="Appearance.Accent">This is an accent button</FluentButton>
        </FluentStack>
    </FluentGridItem>
    <FluentGridItem sm="12" lg="12">
        <FluentStack Orientation="Orientation.Horizontal"
                     VerticalAlignment="VerticalAlignment.Bottom"
                     HorizontalGap="4">
            <div>
                <FluentTextField Label="Textfield"></FluentTextField>
            </div>
            <div>
                <FluentButton>This is a button</FluentButton>
            </div>
        </FluentStack>
    </FluentGridItem>
</FluentGrid>