@inherits LayoutComponentBase

<FluentDesignTheme @bind-Mode="@Mode" OfficeColor="OfficeColor.Access" StorageName="theme" />

<FluentMainLayout>
    <Header>
        App
    </Header>

    <Body>
        <FluentGridItem>
            <FluentSelect Label="Theme"
                          Width="250px"
                          Items="@(Enum.GetValues<DesignThemeModes>())"
                          @bind-SelectedOption="@Mode" />
        </FluentGridItem>
        @Body
    </Body>
</FluentMainLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

@code {
    public DesignThemeModes Mode { get; set; }
}